<form hx-post="/settings/change_password">
    {% if show_success_message %}<div class="success-message">Your password has been succesfully updated.</div>{% endif %}
    {% let error = error_report.get_first(CURRENT_PASSWORD_REPORT_KEY) %}
    <div class="validated-input {% if let Some(error) = error %}invalid{% endif %}"
         hx-target="this"
         hx-swap="outerHTML">
        <label>
            Current Password
            <input type="password"
                   name="current_password"
                   placeholder="Your current password..."
                   value="{{ current_password }}" />
        </label>
        <div class="error-msg">
            {% if let Some(error) = error %}{{ error }}{% endif %}
        </div>
    </div>
    <div class="new-password-inputs">
        {% let error = error_report.get_first(PASSWORD_REPORT_KEY) %}
        <div class="validated-input {% if let Some(error) = error %}invalid{% endif %}"
             hx-target="this"
             hx-swap="outerHTML">
            <label>
                New Password
                <input type="password"
                       name="new_password"
                       placeholder="Your new password..."
                       value="{{ new_password }}" />
            </label>
        </div>
        <div class="validated-input {% if let Some(error) = error %}invalid{% endif %}"
             hx-target="this"
             hx-swap="outerHTML">
            <label>
                Confirm New Password
                <input type="password"
                       name="new_password_confirm"
                       placeholder="Your new password again..."
                       value="{{ new_password_confirm }}" />
            </label>
            <div class="error-msg">
                {% if let Some(error) = error %}{{ error }}{% endif %}
            </div>
        </div>
    </div>
    <button class="primary" type="submit">Change Password</button>
</form>
