<form hx-post="/settings/change_password">
    {% if show_success_message %}<div class="success-message">Your password has been succesfully updated.</div>{% endif %}
    <div class="validated-input {% if old_password_error_message.is_some() %}invalid{% endif %}"
         hx-target="this"
         hx-swap="outerHTML">
        <label>
            Current Password
            <input type="password"
                   name="current_password"
                   placeholder="Your current password..."
                   value="{{ old_password.expose_secret() }}" />
        </label>
        <div class="error-msg">
            {% if let Some(msg) = old_password_error_message %}{{ msg }}{% endif %}
        </div>
    </div>
    <div class="new-password-inputs">
        <div class="validated-input {% if new_password_error_message.is_some() %}invalid{% endif %}"
             hx-target="this"
             hx-swap="outerHTML">
            <label>
                New Password
                <input type="password"
                       name="new_password"
                       placeholder="Your new password..."
                       value="{{ new_password.expose_secret() }}" />
            </label>
        </div>
        <div class="validated-input {% if new_password_error_message.is_some() %}invalid{% endif %}"
             hx-target="this"
             hx-swap="outerHTML">
            <label>
                Confirm New Password
                <input type="password"
                       name="new_password_confirm"
                       placeholder="Your new password again..."
                       value="{{ new_password_confirm.expose_secret() }}" />
            </label>
            <div class="error-msg">
                {% if let Some(msg) = new_password_error_message %}{{ msg }}{% endif %}
            </div>
        </div>
    </div>
    <button class="primary" type="submit">Change Password</button>
</form>
