{% let error = error_report.get_first(PASSWORD_REPORT_KEY) %}
<div class="validated-input {% if let Some(error) = error %}invalid{% endif %}"
     hx-target="this"
     hx-swap="outerHTML">
    <label>
        Password
        <input type="password"
               name="password"
               placeholder="Your password..."
               value="{{ password.expose_secret() }}"
               hx-post="/signup/validate/password" />
    </label>
    <div class="error-msg">
        {% if let Some(error) = error %}{{ error }}{% endif %}
    </div>
</div>
