{% let error = validation_report.get_first("password") %}
<div hx-target="this"
     hx-swap="outerHTML"
     {% if let Some(error) = error %}class="invalid"{% endif %}>
    <label for="password">Password</label>
    <input type="password"
           name="password"
           placeholder="Your password..."
           value="{{ password }}"
           hx-post="/signup/validate/password" />
    <div class="error-msg">
        {% if let Some(error) = error %}{{ error }}{% endif %}
    </div>
</div>
