{% let error = error_report.get_first(USERNAME_REPORT_KEY) %}
<div class="validated-input {% if let Some(error) = error %}invalid{% endif %}"
     hx-target="this"
     hx-swap="outerHTML">
    <label>
        Username
        <input type="text"
               name="username"
               placeholder="Your username..."
               value="{{ username }}"
               hx-post="/signup/validate/username" />
    </label>
    <div class="error-msg">
        {% if let Some(error) = error %}{{ error }}{% endif %}
    </div>
</div>
