@import url("/assets/css/vendor/modern-normalize.v2.0.0.min.css")
layer(normalize);

@layer reset {
  :root {
    line-height: 1.5;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  figure,
  p,
  ol,
  ul {
    margin: unset;
  }

  ol,
  ul {
    list-style: none;
    padding-inline: 0;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img {
    display: block;
    max-inline-size: 100%;
  }
}

/* This font is subset for only Latin characters */
@font-face {
  font-display: swap;
  font-family: "Madimi One";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/MadimiOne-v1-Latin-Regular.woff2") format("woff2");
}

/* For feather icons */
svg.icon {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

:root {
  --color-white: #fefefe;
  --color-grey-200: #c9c9c9;
  --color-grey-500: #808080;
  --color-grey-800: #383838;
  --color-black: #151515;

  --color-feather-yellow: #fffae6;
  --color-midnight-blue: #242836;
  --color-jigglypuff-pink: #ffa7ee;
  --color-caramel-orange: #ffce91;
  --color-fusion-red: #ff565b;
  --color-celery-green: #bffea4;
  --color-air-blue: #98eefa;
  --color-magic-purple: #4e3b4a;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 3rem;
  --font-size-5xl: 4.5rem;
  --font-size-6xl: 7rem;

  --line-height-text: 1.5;
  --line-height-heading: 1.1;

  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3.25rem;
  --spacing-2xl: 5.25rem;

  --content-width: 960px;
}

body {
  background-color: var(--color-midnight-blue);
  color: var(--color-white);
}

header {
  --svg-border-height: 65px;

  background-color: var(--color-feather-yellow);
  color: var(--color-black);
  position: relative;
  padding-bottom: var(--svg-border-height);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    width: var(--content-width);
    padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-md);

    a {
      color: var(--color-black);
      font-size: var(--font-size-xl);
      line-height: var(--line-height-heading);
      text-decoration: none;
      margin-left: var(--spacing-md);
    }

    .logo {
      font-family:
        Madimi One,
        sans-serif;
      font-size: var(--font-size-3xl);
      line-height: var(--line-height-heading);
      margin-left: unset;
    }
  }

  .svg-border {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: var(--svg-border-height);
  }
}

main {
  max-width: 100%;
  margin: 0 auto;
  width: var(--content-width);
  padding: var(--spacing-md);

  h1 {
    margin-bottom: var(--spacing-lg);
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-heading);
    font-weight: normal;
  }

  a {
    color: var(--color-white);
    text-decoration-color: var(--color-jigglypuff-pink);

    &:hover {
      color: var(--color-jigglypuff-pink);
    }
  }

  pre {
    margin: unset;
    background-color: var(--color-grey-800);
    border: 1px solid var(--color-grey-500);
    padding: var(--spacing-sm);
    box-shadow: 10px 10px 0 0 var(--color-black);
    overflow-y: auto;
  }

  input[type="text"] {
    color: var(--color-white);
    background-color: var(--color-grey-800);
    border: 1px solid var(--color-grey-500);
    line-height: var(--line-height-heading);
    padding: var(--spacing-2xs) var(--spacing-xs);
    box-shadow: 10px 10px 0 0 var(--color-black);
  }

  textarea {
    color: var(--color-white);
    background-color: var(--color-grey-800);
    border: 1px solid var(--color-grey-500);
    padding: var(--spacing-sm);
    box-shadow: 10px 10px 0 0 var(--color-black);
    resize: none;
    white-space: pre;
    line-height: var(--line-height-text);
  }

  fieldset {
    background-color: var(--color-grey-800);
    border: 1px solid var(--color-grey-500);
    box-shadow: 10px 10px 0 0 var(--color-black);
  }

  button.primary {
    border: unset;
    background-color: var(--color-celery-green);
    box-shadow: 10px 10px 0 0 var(--color-black);
    padding: var(--spacing-2xs) var(--spacing-sm);
    cursor: pointer;
  }

  .pastes-index {
    .paste {
      margin-bottom: var(--spacing-xl);

      .filename-bar {
        margin-bottom: var(--spacing-xs);
        font-size: var(--font-size-lg);
        line-height: var(--line-height-heading);
      }

      .description-bar,
      .metadata-bar {
        color: var(--color-grey-200);
        line-height: var(--line-height-text);
      }

      .description-bar {
        font-size: var(--font-size-sm);
      }

      .metadata-bar {
        margin-bottom: var(--spacing-xs);
        font-size: var(--font-size-xs);
      }

      pre {
        font-size: var(--font-size-sm);
      }
    }
  }

  .pastes-show {
    .description-bar,
    .metadata-bar {
      color: var(--color-grey-200);
      line-height: var(--line-height-text);
    }

    .description-bar {
      font-size: var(--font-size-xl);
    }

    .metadata-bar {
      --metadata-bar-font-size: var(--font-size-sm);
      display: flex;
      justify-content: space-between;
      font-size: var(--metadata-bar-font-size);
      margin-bottom: var(--spacing-sm);

      .actions {
        display: flex;

        a,
        button {
          display: flex;
          align-items: center;
          background: unset;
          border: unset;
          padding: unset;
          margin: 0 var(--spacing-sm) 0 0;
          text-decoration: unset;
          color: var(--color-grey-200);
          cursor: pointer;

          svg {
            height: var(--metadata-bar-font-size);
            width: var(--metadata-bar-font-size);
            margin-right: var(--spacing-2xs);
          }

          &:hover {
            color: var(--color-jigglypuff-pink);
          }
        }
      }
    }
  }

  .pastes-new,
  .pastes-edit {
    .filename-bar {
      font-size: var(--font-size-3xl);
      margin-bottom: var(--spacing-md);
    }

    .description-bar {
      font-size: var(--font-size-xl);
      margin-bottom: var(--spacing-md);

      input {
        width: 100%;
      }
    }

    textarea {
      width: 100%;
      min-height: 20rem;
      margin-bottom: var(--spacing-md);
    }

    .visibility {
      margin-bottom: var(--spacing-md);

      label {
        display: block;
      }
    }
  }
}
