@import url("/assets/css/vendor/modern-normalize.min.css") layer(normalize);

@layer reset {
  :root {
    line-height: 1.5;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  figure,
  p,
  ol,
  ul {
    margin: unset;
  }

  ol,
  ul {
    list-style: none;
    padding-inline: 0;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img {
    display: block;
    max-inline-size: 100%;
  }
}

/* This font is subset for only Latin characters */
@font-face {
  font-display: swap;
  font-family: "Madimi One";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/MadimiOne-v1-Latin-Regular.woff2") format("woff2");
}

:root {
  --color-white: #fefefe;
  --color-grey-200: #c9c9c9;
  --color-grey-500: #808080;
  --color-grey-800: #383838;
  --color-black: #151515;

  --color-feather-yellow: #fffae6;
  --color-midnight-blue: #242836;
  --color-jigglypuff-pink: #ffa7ee;
  --color-fusion-red: #ff565b;
  --color-caramel-orange: #ffce91;
  --color-celery-green: #bffea4;
  --color-air-blue: #98eefa;
  --color-magic-purple: #4e3b4a;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 3rem;
  --font-size-5xl: 4.5rem;
  --font-size-6xl: 7rem;

  --line-height-text: 1.5;
  --line-height-heading: 1.1;

  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3.25rem;
  --spacing-2xl: 5.25rem;

  --content-width: 960px;

  /* Old Colors */
  --green-500: #1daf92;
  --green-700: #147161;

  --yellow-100: #fcefd8;
  --yellow-300: #f2bf7f;

  --red-500: #f03058;
  --red-700: #bb1543;

  --grey-100: #fefefc;
  --grey-200: #d1d1d1;
  --grey-300: #b0b0b0;
  --grey-700: #1e1e1e;
  --grey-900: #151515;
  --grey-950: #151515;
}

body {
  background-color: var(--color-midnight-blue);
  color: var(--color-white);
}

header {
  background-color: var(--color-feather-yellow);
  color: var(--color-black);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    width: var(--content-width);
    padding: var(--spacing-sm);

    a {
      color: var(--color-black);
      font-size: var(--font-size-xl);
      line-height: var(--line-height-heading);
      text-decoration: none;
      margin-left: var(--spacing-md);
    }

    .logo {
      font-family:
        Madimi One,
        sans-serif;
      font-size: var(--font-size-3xl);
      line-height: var(--line-height-heading);
      margin-left: unset;
    }
  }
}

main {
  max-width: 100%;
  margin: 0 auto;
  width: var(--content-width);
  padding: var(--spacing-md);
}

.container {
  background: var(--grey-900);
  padding: 36px;
  border-radius: 10px;
  box-shadow: 0 18px 18px var(--grey-950);
  margin-bottom: 36px;
}

button {
  border: none;
  padding: 2px 12px 4px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;

  &.primary {
    background: var(--green-500);
    color: var(--color-white);
  }

  &.destructive {
    background: var(--grey-900);
    color: var(--red-500);
    border: solid 2px var(--red-500);
  }
}

button:hover {
  &.destructive {
    background: var(--red-700);
    color: var(--color-white);
    border-color: var(--red-700);
  }

  &.primary {
    background: var(--green-700);
  }
}

.pastes-show {
  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: end;

    h2 {
      font-size: 32px;
    }
  }

  h3 {
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: normal;
  }

  code {
    white-space: pre-wrap;
  }
}

.pastes-index {
  a {
    text-decoration: none;
    color: var(--color-white);
  }

  .title {
    display: inline-block;
    color: var(--yellow-100);
  }

  a:hover .title {
    color: var(--yellow-300);
  }

  .description {
    color: var(--grey-200);
    font-size: 14px;
    margin-bottom: 15px;
  }

  .body {
    font-size: 14px;
    display: inline-block;
    border-radius: 8px;
    background: var(--grey-950);
    width: 100%;
    white-space: pre-wrap;
    padding: 10px;
  }
}

.pastes-new {
  form {
    input {
      display: block;
      color: var(--color-white);
      margin-bottom: 15px;
      background: var(--grey-950);
      border: solid 2px var(--grey-700);
      border-radius: 8px;
      padding: 8px 12px;
    }

    textarea::placeholder,
    input::placeholder {
      color: var(--grey-300);
    }

    textarea:focus,
    input:focus {
      border: solid 2px var(--green-500);
    }

    .title {
      width: 40vw;
      font-size: 26px;
    }

    .description {
      width: 60vw;
    }

    textarea {
      color: var(--color-white);
      width: 100%;
      background: var(--grey-950);
      border: solid 2px transparent;
      border-radius: 8px;
      min-height: 30vh;
      padding: 8px 12px;
    }
  }
}
