@import url("/assets/css/vendor/modern-normalize.v2.0.0.min.css")
layer(normalize);

@layer reset {
  :root {
    line-height: 1.5;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  figure,
  p,
  ol,
  ul {
    margin: unset;
  }

  ol,
  ul {
    list-style: none;
    padding-inline: 0;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img {
    display: block;
    max-inline-size: 100%;
  }
}

/* This font is subset for only the logo characters: "Gluestick" */
@font-face {
  font-display: swap;
  font-family: "Madimi One";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/MadimiOne-v1-GluestickSubset.woff2") format("woff2");
}

/* For feather icons */
svg.icon {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: inline-block;
  vertical-align: middle;
}

:root {
  --color-white: #fefefe;
  --color-grey-200: #c9c9c9;
  --color-grey-500: #808080;
  --color-grey-800: #383838;
  --color-black: #151515;

  --color-feather-yellow: #fffae6;
  --color-midnight-blue: #242836;
  --color-space-cadet-blue: #303446;
  --color-jigglypuff-pink: #ffa7ee;
  --color-celery-green: #bffea4;
  --color-banana-pepper-yellow: #ffcb3d;
  --color-fusion-red: #ff565b;

  --font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-monospace: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;

  --font-size-xs: clamp(0.6944rem, 0.6852rem + 0.0449vw, 0.72rem);
  --font-size-s: clamp(0.8333rem, 0.8092rem + 0.1172vw, 0.9rem);
  --font-size-m: clamp(1rem, 0.9547rem + 0.2198vw, 1.125rem);
  --font-size-l: clamp(1.2rem, 1.1252rem + 0.3626vw, 1.4063rem);
  --font-size-xl: clamp(1.44rem, 1.3247rem + 0.5588vw, 1.7578rem);
  --font-size-2xl: clamp(1.728rem, 1.5578rem + 0.8251vw, 2.1973rem);
  --font-size-3xl: clamp(2.0736rem, 1.8296rem + 1.1833vw, 2.7466rem);
  --font-size-4xl: clamp(2.4883rem, 2.1457rem + 1.6614vw, 3.4332rem);

  --spacing-3xs: clamp(0.25rem, 0.2273rem + 0.1099vw, 0.3125rem);
  --spacing-2xs: clamp(0.5rem, 0.4773rem + 0.1099vw, 0.5625rem);
  --spacing-xs: clamp(0.75rem, 0.7047rem + 0.2198vw, 0.875rem);
  --spacing-s: clamp(1rem, 0.9547rem + 0.2198vw, 1.125rem);
  --spacing-m: clamp(1.5rem, 1.432rem + 0.3297vw, 1.6875rem);
  --spacing-l: clamp(2rem, 1.9093rem + 0.4396vw, 2.25rem);
  --spacing-xl: clamp(3rem, 2.864rem + 0.6593vw, 3.375rem);
  --spacing-2xl: clamp(4rem, 3.8187rem + 0.8791vw, 4.5rem);
  --spacing-3xl: clamp(6rem, 5.728rem + 1.3187vw, 6.75rem);

  /* One-up pairs */
  --spacing-3xs-2xs: clamp(0.25rem, 0.1367rem + 0.5495vw, 0.5625rem);
  --spacing-2xs-xs: clamp(0.5rem, 0.364rem + 0.6593vw, 0.875rem);
  --spacing-xs-s: clamp(0.75rem, 0.614rem + 0.6593vw, 1.125rem);
  --spacing-s-m: clamp(1rem, 0.7507rem + 1.2088vw, 1.6875rem);
  --spacing-m-l: clamp(1.5rem, 1.228rem + 1.3187vw, 2.25rem);
  --spacing-l-xl: clamp(2rem, 1.5014rem + 2.4176vw, 3.375rem);
  --spacing-xl-2xl: clamp(3rem, 2.456rem + 2.6374vw, 4.5rem);
  --spacing-2xl-3xl: clamp(4rem, 3.0027rem + 4.8352vw, 6.75rem);

  --line-height-text: 1.5;
  --line-height-heading: 1.1;

  --max-viewport: 1240px;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-system);
  background-color: var(--color-midnight-blue);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  nav {
    max-width: 100%;
    margin: 0 auto;
    width: var(--max-viewport);
    padding: var(--spacing-2xs);
    display: grid;
    grid-template-areas:
      "left center right"
      "menu menu menu";
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-3xs);
    border-bottom: 2px solid var(--color-white);

    a {
      color: var(--color-white);
      font-size: var(--font-size-m);
      line-height: var(--line-height-heading);
      text-decoration: none;

      &:hover {
        color: var(--color-feather-yellow);
      }
    }

    .menu-button {
      grid-area: left;
      cursor: pointer;

      button {
        background: transparent;
        border: none;
        pointer-events: none;
        color: var(--color-white);
      }

      &:hover {
        button {
          color: var(--color-feather-yellow);
        }
      }
    }

    .logo {
      grid-area: center;
      font-family:
        Madimi One,
        sans-serif;
      font-size: var(--font-size-xl);
    }

    .main-nav {
      grid-area: menu;
      display: none;
    }

    .highlight-nav {
      grid-area: right;

      .with-border {
        border: 2px solid var(--color-white);
        border-radius: 5%;
        padding: var(--spacing-3xs);
      }
    }

    #menu-state {
      display: none;
    }

    #menu-state:checked + .main-nav {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-3xs);
    }
  }

  @media (min-width: 800px) {
    nav {
      gap: unset;

      .logo {
        grid-area: left;
      }

      .main-nav,
      #menu-state:checked + .main-nav {
        grid-area: right;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: var(--spacing-m);
      }

      .menu-button {
        display: none;
      }

      .highlight-nav {
        display: none;
      }
    }
  }
}

main {
  --color-input-background: var(--color-space-cadet-blue);

  max-width: 100%;
  margin: 0 auto;
  width: var(--max-viewport);
  padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
  flex: 1;

  h1,
  h2 {
    line-height: var(--line-height-heading);
    font-weight: normal;
    margin-bottom: var(--spacing-xs);
  }

  h1 {
    font-size: var(--font-size-2xl);
  }

  h2 {
    font-size: var(--font-size-xl);
  }

  a {
    color: var(--color-white);
    text-decoration-color: var(--color-jigglypuff-pink);

    &:hover {
      color: var(--color-jigglypuff-pink);
    }
  }

  pre {
    margin: unset;
    font-size: var(--font-size-s);
    background-color: var(--color-input-background);
    border: 1px solid var(--color-grey-500);
    padding: var(--spacing-s);
    box-shadow: 10px 10px 0 0 var(--color-black);
    overflow-y: auto;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    color: var(--color-white);
    background-color: var(--color-input-background);
    border: 1px solid var(--color-grey-500);
    line-height: var(--line-height-heading);
    padding: var(--spacing-2xs);
    box-shadow: 10px 10px 0 0 var(--color-black);
  }

  textarea {
    color: var(--color-white);
    background-color: var(--color-input-background);
    border: 1px solid var(--color-grey-500);
    padding: var(--spacing-2xs);
    box-shadow: 10px 10px 0 0 var(--color-black);
    resize: none;
    white-space: pre;
    line-height: var(--line-height-text);
    font-family: var(--font-monospace);
  }

  fieldset {
    background-color: var(--color-input-background);
    border: 1px solid var(--color-grey-500);
    box-shadow: 10px 10px 0 0 var(--color-black);
  }

  .validated-input {
    label {
      font-size: var(--font-size-s);
      color: var(--color-grey-200);
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
      display: block;
      margin-bottom: var(--spacing-3xs);
    }

    .error-msg {
      color: var(--color-fusion-red);
      font-size: var(--font-size-s);
    }

    &.invalid {
      input[type="text"],
      input[type="email"],
      input[type="password"],
      textarea,
      fieldset {
        border: 1px solid var(--color-fusion-red);
      }
    }
  }

  a.button {
    text-decoration: none;
  }

  button,
  a.button {
    border: unset;
    box-shadow: 10px 10px 0 0 var(--color-black);
    line-height: var(--line-height-text);
    padding: var(--spacing-3xs) var(--spacing-2xs);
    cursor: pointer;

    &.primary {
      color: var(--color-black);
      background-color: var(--color-celery-green);
    }
  }

  .content-pair {
    display: grid;
    grid-template-areas:
      "item1"
      "item2";
    justify-content: center;
    align-items: center;
    gap: var(--spacing-m);

    .item-1,
    .item-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      gap: var(--spacing-xs);
    }

    .item-1 {
      grid-area: item1;
    }

    .item-2 {
      grid-area: item2;
    }
  }

  @media (min-width: 640px) {
    .content-pair {
      grid-template-areas: "item1 item2";
      gap: var(--spacing-l);

      .item-1,
      .item-2 {
        align-items: flex-start;
        text-align: unset;
      }
    }
  }
}

.login,
.signup {
  width: 400px;
  align-items: center;
  font-size: var(--font-size-m);

  form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xs);
  }

  .validated-input {
    input {
      font-size: var(--font-size-m);
    }
  }

  .buttons {
    margin-top: var(--spacing-s);
  }
}

.unauthorized,
.forbidden,
.not-found,
.internal-server-error {
  font-size: var(--font-size-l);
}

.index {
  gap: var(--spacing-l);

  .hero {
    img {
      width: 250px;
      height: 298px;
    }

    h1 {
      font-size: var(--font-size-3xl);
    }

    .logo {
      font-family:
        Madimi One,
        sans-serif;
      color: var(--color-feather-yellow);
    }

    .button {
      font-size: var(--font-size-xl);
      padding: var(--spacing-2xs) var(--spacing-xs);
    }
  }

  @media (min-width: 940px) {
    .hero {
      grid-template-areas: "item1 item1 item2";

      h1 {
        font-size: var(--font-size-4xl);
      }
    }

    .content-pair {
      margin: 0 var(--spacing-3xl);
    }

    .content-pair:nth-of-type(even) {
      grid-template-areas: "item2 item1";
    }
  }

  @media (min-width: 768px) {
    .hero img {
      width: 300px;
      height: 357px;
    }
  }
}

.pastes-index,
.users-show {
  .paste {
    margin-bottom: var(--spacing-m);

    .filename-bar {
      font-size: var(--font-size-l);
      line-height: var(--line-height-text);

      .secret-tag {
        background-color: var(--color-space-cadet-blue);
        padding: var(--spacing-3xs) var(--spacing-3xs);
        border: 1px solid var(--color-grey-500);
        font-size: var(--font-size-xs);
        margin-left: var(--spacing-xs);
      }
    }

    .description-bar,
    .metadata-bar {
      color: var(--color-grey-200);
      line-height: var(--line-height-text);
    }

    .description-bar {
      font-size: var(--font-size-m);
    }

    .metadata-bar {
      flex-wrap: wrap;
      margin-bottom: var(--spacing-3xs);
      font-size: var(--font-size-xs);
    }

    pre {
      font-size: var(--font-size-s);
    }
  }

  .empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--spacing-m);
    margin: var(--spacing-xl) 0 var(--spacing-2xl);
    font-size: var(--font-size-l);
  }

  .pagination {
    display: flex;
    justify-content: center;

    span,
    a {
      margin-right: var(--spacing-s);
    }

    span {
      color: var(--color-grey-500);
      cursor: default;
    }
  }
}

.pastes-show {
  h1 .secret-tag {
    background-color: var(--color-space-cadet-blue);
    padding: var(--spacing-3xs) var(--spacing-3xs);
    border: 1px solid var(--color-grey-500);
    font-size: var(--font-size-s);
    margin-left: var(--spacing-xs);
  }

  .description-bar,
  .metadata-bar {
    color: var(--color-grey-200);
    line-height: var(--line-height-text);
  }

  .description-bar {
    font-size: var(--font-size-l);
  }

  .metadata-bar {
    --metadata-bar-font-size: var(--font-size-s);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: var(--metadata-bar-font-size);
    margin-bottom: var(--spacing-xs);

    .actions {
      display: flex;
      flex-wrap: wrap;

      a,
      button {
        display: flex;
        align-items: center;
        background: unset;
        border: unset;
        padding: unset;
        text-decoration: unset;
        box-shadow: unset;
        margin: 0 var(--spacing-xs) 0 0;
        color: var(--color-grey-200);
        cursor: pointer;

        svg {
          height: var(--metadata-bar-font-size);
          width: var(--metadata-bar-font-size);
          margin-right: var(--spacing-3xs);
        }

        &:hover {
          color: var(--color-jigglypuff-pink);
        }
      }
    }
  }

  #body.hidden {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}

.pastes-new,
.pastes-edit {
  display: flex;
  flex: 1;

  form {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;

    .filename,
    .description {
      margin-bottom: var(--spacing-xs);

      input {
        width: 100%;
      }
    }

    .body {
      margin-bottom: var(--spacing-xs);
      display: flex;
      flex-direction: column;
      flex: 1;
      font-size: var(--font-size-s);

      textarea {
        flex: 1;
      }
    }

    .visibility {
      margin-bottom: var(--spacing-m);

      label {
        display: block;
      }
    }

    .visibility-warning {
      display: flex;
      align-items: center;
      gap: var(--spacing-2xs);
      font-size: var(--font-size-s);
      color: var(--color-banana-pepper-yellow);
      margin-bottom: var(--spacing-xs);
    }

    button.primary {
      align-self: flex-start;
    }
  }
}

.settings {
  section {
    margin-bottom: var(--spacing-xl);
  }

  .change-password {
    .success-message {
      color: var(--color-celery-green);
      margin-bottom: var(--spacing-xs);
    }

    .new-password-inputs {
      margin-bottom: var(--spacing-m);
    }
  }

  .api-keys {
    p {
      margin-bottom: var(--spacing-s);
    }

    button.primary {
      margin-bottom: var(--spacing-m);
    }

    .key {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: var(--color-input-background);
      border: 1px solid var(--color-grey-500);
      padding: var(--spacing-s);
      box-shadow: 10px 10px 0 0 var(--color-black);
      margin-bottom: var(--spacing-l);

      .instructions,
      .created-at,
      .last-used-at {
        font-size: var(--font-size-s);
        color: var(--color-grey-200);
      }

      .copy-button {
        color: var(--color-white);
        background-color: unset;
        box-shadow: unset;
        padding: unset;

        svg.icon {
          height: var(--font-size-m);
          width: var(--font-size-m);
        }

        &:hover {
          color: var(--color-jigglypuff-pink);
        }
      }

      .delete-controls {
        display: flex;
        align-items: center;
        gap: var(--spacing-s);
      }

      .delete-button {
        background-color: var(--color-midnight-blue);
        color: var(--color-fusion-red);
        border: 1px solid var(--color-grey-800);
        border-radius: 5px;
        box-shadow: unset;
        font-size: var(--font-size-s);
      }
    }
  }
}
