@import url("/assets/css/vendor/modern-normalize.min.css") layer(normalize);

@layer reset {
  :root {
    line-height: 1.5;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  figure,
  p,
  ol,
  ul {
    margin: unset;
  }

  ol,
  ul {
    list-style: none;
    padding-inline: 0;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img {
    display: block;
    max-inline-size: 100%;
  }
}

/* This font is subset for only Latin characters */
@font-face {
  font-display: swap;
  font-family: "Madimi One";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/MadimiOne-v1-Latin-Regular.woff2") format("woff2");
}

:root {
  --green-100: #cef9ec;
  --green-300: #65e3c4;
  --green-500: #1daf92;
  --green-700: #147161;
  --green-900: #164b42;

  --yellow-100: #fcefd8;
  --yellow-300: #f2bf7f;
  --yellow-500: #e77e28;
  --yellow-700: #b44e1a;
  --yellow-900: #74351a;

  --orange-100: #ffe4d5;
  --orange-300: #fe9b73;
  --orange-500: #fa4015;
  --orange-700: #c3180b;
  --orange-900: #7c1612;

  --red-100: #ffe4e7;
  --red-300: #fca5b3;
  --red-500: #f03058;
  --red-700: #bb1543;
  --red-900: #86153c;

  --purple-100: #e8e5fa;
  --purple-300: #beb2ef;
  --purple-500: #9a78dc;
  --purple-700: #7a4db5;
  --purple-900: #513a75;

  --grey-50: #f6f6f6;
  --grey-100: #e7e7e7;
  --grey-200: #d1d1d1;
  --grey-300: #b0b0b0;
  --grey-400: #888888;
  --grey-500: #6d6d6d;
  --grey-600: #565656;
  --grey-700: #4f4f4f;
  --grey-800: #454545;
  --grey-900: #3d3d3d;
  --grey-950: #262626;
}

html {
  height: 100vh;
}

body {
  background: var(--grey-950);
  background: linear-gradient(var(--grey-950), var(--purple-900));
  color: var(--grey-50);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;

  nav {
    display: flex;

    a {
      color: var(--grey-50);
      font-size: 20px;
      text-decoration: none;
      margin: 5px 15px;
      border-bottom: solid 3px transparent;
    }

    a:hover {
      color: var(--yellow-300);
      border-bottom-color: var(--yellow-300);
    }
  }
}

.logo {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;

    img {
      height: 95px;
      margin: 0 12px 0 5px;
      transform: rotate(-10deg);
    }

    p {
      font-size: 50px;
      font-family:
        Madimi One,
        sans-serif;
      color: var(--grey-50);
      text-decoration: none;
    }
  }

  a:hover {
    p {
      color: var(--yellow-300);
    }
  }
}
