{% extends "base.html" %}
{% block title %}Unauthorized{% endblock %}
{% block main %}
    <main class="unauthorized">
        <section>
            <div class="progressive-image-container" id="padlock">
                <picture class="preview-image">
                    <source type="image/avif" srcset="/assets/images/padlock-preview.avif" />
                    <img src="/assets/images/padlock-preview.png"
                         alt="die-cut sticker of a padlock, pixelated preview"
                         width="300"
                         height="457" />
                </picture>
                <picture class="main-image">
                    <source type="image/avif" srcset="/assets/images/padlock.avif" />
                    <img src="/assets/images/padlock.png"
                         alt="die-cut sticker of a padlock"
                         width="300"
                         height="457"
                         loading="lazy"
                         onload="this.parentElement.style.opacity = 1; this.parentElement.previousElementSibling.style.opacity = 0;" />
                </picture>
            </div>
            <div>
                <h1>401 Unauthorized</h1>
                <p>Sorry, you're not authorized to access this page... Please sign in first.</p>
                <a href="/login" class="button primary">Go to sign in</a>
            </div>
        </section>
    </main>
{% endblock %}
