{% extends "base.html" %}
{% block title %}Not Found{% endblock %}
{% block main %}
    <main class="not-found">
        <section>
            <div class="progressive-image-container" id="lost-james">
                <picture class="preview-image">
                    <source type="image/avif" srcset="/assets/images/lost-james-preview.avif" />
                    <img src="/assets/images/lost-james-preview.png"
                         alt="die-cut sticker of James, a glue monster, looking lost pixelated preview image"
                         width="350"
                         height="408" />
                </picture>
                <picture class="main-image">
                    <source type="image/avif" srcset="/assets/images/lost-james.avif" />
                    <img src="/assets/images/lost-james.png"
                         alt="die-cut sticker of James, a glue monster, looking lost"
                         width="350"
                         height="408"
                         loading="lazy"
                         onload="this.parentElement.style.opacity = 1; this.parentElement.previousElementSibling.style.opacity = 0;" />
                </picture>
            </div>
            <div>
                <h1>404 Not Found</h1>
                <p>Oops...This page doesn't exist.</p>
                <a href="/" class="button primary">Back to homepage</a>
            </div>
        </section>
    </main>
{% endblock %}
