<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/assets/js/vendor/htmx.min.js"></script>
        <link href="/assets/css/main.css" rel="stylesheet" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <header hx-boost="true">
            <nav>
                <div>
                    <a class="logo" href="/">Gluestick</a>
                </div>
                <div>
                    <a href="/pastes">All Pastes</a>
                    {% if current_user.is_some() %}<a href="/pastes/new">New Paste</a>{% endif %}
                </div>
                <div>
                    {% if current_user.is_some() %}
                        <a href="/logout" hx-delete="/logout">Sign Out</a>
                    {% else %}
                        <a href="/login">Sign In</a>
                        <a href="/signup">Sign Up</a>
                    {% endif %}
                </div>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
