<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/assets/js/vendor/htmx.min.js"></script>
        <link href="/assets/css/style.css" rel="stylesheet" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/pastes">
                    <img src="/assets/images/logo.png" />
                    <h1>Gluestick</h1>
                </a>
            </div>
            <nav class="main-center-nav">
                <div class="ooze-link">
                    <a href="/pastes">All Pastes</a>
                    <img class="ooze ooze1" src="/assets/images/ooze1.svg" />
                </div>
                <div class="ooze-link">
                    <a href="/">New Paste</a>
                    <img class="ooze ooze2" src="/assets/images/ooze2.svg" />
                </div>
            </nav>
            <nav class="main-right-nav">
                {% if optional_user.is_some() %}
                    <button hx-delete="/logout">Log Out</button>
                {% else %}
                    <a href="/login">Login</a>
                    <a href="/signup">Sign Up</a>
                {% endif %}
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
