{% extends "base.html" %}
{% block main %}
    <main class="index">
        <section class="content-pair hero">
            <picture class="item-1">
                <source type="image/avif" srcset="/assets/images/james.avif" />
                <img src="/assets/images/james.png"
                     alt="die-cut sticker of James, a glue monster"
                     width="300"
                     height="357" />
            </picture>
            <div class="item-2">
                <h1>
                    <span class="logo">Gluestick</span> is a self-hosted pastebin that makes
                    it easy to share code, notes, and text snippets.
                </h1>
                <a class="button primary" href="https://github.com/nwj/gluestick">
                    Get Gluestick on
                    <svg class="icon">
                        <title>GitHub icon</title>
                        <use href="/assets/images/vendor/feather-sprite-subset.v4.29.0.svg#github" />
                    </svg>
                </a>
            </div>
        </section>
        <section class="content-pair">
            <picture class="item-1">
                <source type="image/avif" srcset="/assets/images/monstera.avif" />
                <img src="/assets/images/monstera.png"
                     alt="die-cut sticker of a monstera house plant in a blue pot"
                     width="211"
                     height="250"
                     loading="lazy" />
            </picture>
            <div class="item-2">
                <h2>Grow Your Own Digital Garden</h2>
                <p>
                    By compiling to a single executable and storing all its data in a single
                    file, Gluestick is designed for easy self-hosting. And it runs at over
                    1,500 requests per second with sub-200ms P95 latencies on some of the
                    cheapest, bottom-of-the-barrel cloud servers in the world.
                </p>
            </div>
        </section>
        <section class="content-pair">
            <picture class="item-1">
                <source type="image/avif" srcset="/assets/images/sneaker.avif" />
                <img src="/assets/images/sneaker.png"
                     alt="die-cut sticker of a tennis shoe"
                     width="235"
                     height="209"
                     loading="lazy" />
            </picture>
            <div class="item-2">
                <h2>Put Your Code's Best Foot Forward</h2>
                <p>
                    Beautiful syntax highlighting support for hundreds of programming
                    languages and text formats, via
                    <a href="https://github.com/trishume/syntect/">Syntect</a> and the
                    lovely
                    <a href="https://github.com/catppuccin/catppuccin">Catppuccin Frappe</a>
                    colorscheme.
                </p>
            </div>
        </section>
        <section class="content-pair">
            <picture class="item-1">
                <source type="image/avif" srcset="/assets/images/console.avif" />
                <img src="/assets/images/console.png"
                     alt="die-cut sticker of retro computer console"
                     width="250"
                     height="217"
                     loading="lazy" />
            </picture>
            <div class="item-2">
                <h2>Outrageously Scriptable</h2>
                <p>
                    Gluestick ships with a full-featured JSON API so you can
                    programmatically create, read, and manage pastes with ease.
                </p>
            </div>
        </section>
    </main>
{% endblock %}
