{% extends "base.html" %}
{% block content %}
    <section class="pastes-new">
        <form action="/pastes" method="post">
            <input class="title" name="title" placeholder="Title" />
            <input class="description" name="description" placeholder="Paste description..." />
            <div class="container">
                <textarea name="body" placeholder="Paste body..."></textarea>
            </div>
            <button class="primary" type="submit">Create Paste</button>
        </form>
    </section>
{% endblock %}
