{% extends "base.html" %}
{% block content %}
    {% if pastes.len() > 0 %}
        <section class="pastes-index">
            <ul>
                {% for paste in pastes %}
                    <a href="pastes/{{ paste.id }}">
                        <li class="container">
                            <h2 class="title">{{ paste.title }}</h2>
                            <p class="description">{{ paste.description }}</p>
                            <code class="body">{{ paste.body|truncate(300) }}</code>
                        </li>
                    </a>
                {% endfor %}
            </ul>
        {% else %}
            <p>No recent pastes</p>
        {% endif %}
    </section>
{% endblock %}
