<main class="about">
  <section class="hero">
    <img
      src="/assets/images/james.png"
      alt="die-cut sticker of an adorable glue monster named James, vector, line art, icon"
      width="300"
      height="357"
    />
    <div>
      <h1>
        <span class="logo">Gluestick</span> is a pastebin that makes it easy to
        share code, notes, and text snippets.
      </h1>
      <a class="button primary" href="/signup">Sign Up (Invite Only)</a>
    </div>
  </section>
  <section class="pair">
    <div>
      <h2>Simple Self-Hosting</h2>
      <p>
        Gluestick compiles to a single executable, embeds its own assets and
        dependencies, and stores all its data in a single file for easy backup.
        And it runs at over 1500 requests per second with sub-200ms P95
        latencies on some of the cheapest, bottom-of-the-barrel cloud servers in
        the world.
      </p>
    </div>
    <img
      src="/assets/images/monstera-plant.png"
      alt="die-cut sticker of a house plant, vector, icon"
      width="275"
      height="337"
    />
  </section>
  <section class="pair">
    <div>
      <h2>Put Your Code's Best Foot Forward</h2>
      <p>
        Beautiful syntax highlighting support for hundreds of programming
        languages and text formats, via
        <a href="https://github.com/trishume/syntect/">Syntect</a> and the
        lovely
        <a href="https://github.com/catppuccin/catppuccin">Catppuccin</a>
        colorscheme.
      </p>
    </div>
    <img
      src="/assets/images/tennis-shoe.png"
      alt="cute tennis shoe sticker on a white background, vector, icon"
      width="300"
      height="267"
    />
  </section>
  <section class="pair">
    <div>
      <h2>Outrageously Scriptable</h2>
      <p>
        Gluestick ships with a full-featured JSON API so you can
        programmatically create, read, and manage pastes with ease.
      </p>
    </div>
    <img
      src="/assets/images/retro-console.png"
      alt="die-cut sticker of an old style computer, isometric, line art, icon"
      width="325"
      height="281"
    />
  </section>
</main>
