{% extends "base.html" %}
{% block title %}Internal Server Error -{% endblock %}
{% block main %}
  <main class="internal-server-error">
    <div class="content-pair">
      <picture class="item-1">
        <source
          type="image/avif"
          srcset="/assets/images/exploding-console.avif"
        />
        <img
          src="/assets/images/exploding-console.png"
          alt="die-cut sticker of an exploding, retro computer console"
          width="325"
          height="301"
        />
      </picture>
      <div class="item-2">
        <h1>500 Internal Server Error</h1>
        <p>Oops...Something went wrong on our side.</p>
        <a href="/" class="button primary">Back to homepage</a>
      </div>
    </div>
  </main>
{% endblock %}
