{% extends "base.html" %}
{% block title %}Edit {{ paste.filename }}{% endblock %}
{% block content %}
    <section class="pastes-edit">
        <form hx-put="/pastes/{{ paste.id }}">
            <div class="filename-bar">
                {% if let Some(session) = session %}{{ session.user.username }} /{% endif %}
                <input type="text" name="filename" value="{{ paste.filename }}" />
            </div>
            <div class="description-bar">
                <input type="text" name="description" value="{{ paste.description }}" />
            </div>
            <textarea name="body">{{ paste.body }}</textarea>
            <button class="primary" type="submit">Save</button>
        </form>
    </section>
{% endblock %}
