{% extends "base.html" %}
{% block title %}Edit {{ paste.filename }}{% endblock %}
{% block content %}
    <section class="pastes-edit">
        <form hx-put="/pastes/{{ paste.id }}">
            <div class="filename-bar">
                <input name="filename" value="{{ paste.filename }}" />
            </div>
            <input name="description" value="{{ paste.description }}" />
            <div class="container">
                <textarea name="body">{{ paste.body }}</textarea>
            </div>
            <button type="submit">Save</button>
        </form>
    </section>
{% endblock %}
