{% extends "base.html" %}
{% block title %}Recent Pastes{% endblock %}
{% block content %}
    {% if paste_username_pairs.len() > 0 %}
        <h1>Recent Pastes</h1>
        <section class="pastes-index">
            <ul>
                {% for (paste, username) in paste_username_pairs %}
                    <li class="paste">
                        <div class="filename-bar">
                            {{ username }} / <a href="pastes/{{ paste.id }}">{{ paste.filename }}</a>
                        </div>
                        {% if !paste.description.is_empty() %}<div class="description-bar">{{ paste.description }}</div>{% endif %}
                        <div class="metadata-bar">
                            <span title="{{ paste.updated_at }}">Updated {{ paste.updated_at|format_relative_time }}</span>,
                            {{ paste.body|format_byte_size }}
                        </div>
                        {% if let Some(highlighted_body) = paste.to_syntax_highlighted_html() %}
                            {{ highlighted_body|linewise_truncate_syntax_highlight|safe }}
                        {% else %}
                            <pre>{{ paste.body|linewise_truncate(10) }}</pre>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No recent pastes</p>
        {% endif %}
    </section>
{% endblock %}
