{% extends "base.html" %}
{% block title %}Recent Pastes{% endblock %}
{% block content %}
    {% if paste_username_html_triples.len() > 0 %}
        <h1>Recent Pastes</h1>
        <section class="pastes-index">
            <ul>
                {% for (paste, username, syntax_highlighted_html) in paste_username_html_triples %}
                    <li class="paste">
                        <div class="filename-bar">
                            {{ username }} / <a href="pastes/{{ paste.id }}">{{ paste.filename }}</a>
                        </div>
                        {% if !paste.description.is_empty() %}<div class="description-bar">{{ paste.description }}</div>{% endif %}
                        <div class="metadata-bar">
                            <span title="{{ paste.updated_at }}">Updated {{ paste.updated_at|format_relative_time }}</span>,
                            {{ paste.body|format_byte_size }}
                        </div>
                        {% if let Some(syntax_highlighted_html) = syntax_highlighted_html %}
                            {{ syntax_highlighted_html|linewise_truncate_html_10|safe }}
                        {% else %}
                            <pre>{{ paste.body|linewise_truncate(10) }}</pre>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No recent pastes</p>
        {% endif %}
        <div class="pagination">
            {% if let Some(prev_page) = pagination.prev_page %}
                <a href="/pastes?cursor={{ prev_page }}&dir=asc">Newer</a>
            {% else %}
                <span>Newer</span>
            {% endif %}
            {% if let Some(next_page) = pagination.next_page %}
                <a href="/pastes?cursor={{ next_page }}&dir=desc">Older</a>
            {% else %}
                <span>Older</span>
            {% endif %}
        </div>
    </section>
{% endblock %}
