{% extends "base.html" %}
{% block title %}New Paste{% endblock %}
{% block content %}
    <section class="pastes-new">
        <form action="/pastes" method="post">
            <div class="filename-bar">
                {% if let Some(session) = session %}{{ session.user.username }} /{% endif %}
                <input type="text"
                       name="filename"
                       placeholder="Filename including extension..." />
            </div>
            <div class="description-bar">
                <input type="text"
                       name="description"
                       placeholder="(Optional) Paste description..." />
            </div>
            <div class="grow-wrap">
                <textarea name="body"
                          rows="10"
                          placeholder="Paste body..."
                          onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
            </div>
            <fieldset class="visibility">
                <legend>Visibility:</legend>
                <label for="visibility-secret">
                    <input type="radio"
                           id="visibility-secret"
                           name="visibility"
                           value="secret"
                           checked />
                    Secret - visible to anyone you give the URL to
                </label>
                <label for="visiblitity-public">
                    <input type="radio" id="visiblitity-public" name="visibility" value="public" />
                    Public - visible to everyone
                </label>
            </fieldset>
            <button class="primary" type="submit">Create Paste</button>
        </form>
        <script>document.querySelectorAll('.grow-wrap > textarea').forEach(el => { el.dispatchEvent(new Event('input', { bubbles: true, cancelable: true })); });</script>
    </section>
{% endblock %}
