{% extends "base.html" %}
{% block content %}
    <h1>
        {{ username }} / <a href="/pastes/{{ paste.id }}">{{ paste.title }}</a>
    </h1>
    <section class="pastes-show">
        <div class="description-bar">{{ paste.description }}</div>
        <div class="metadata-bar">
            <div class="metadata">
                <span title="{{ paste.updated_at }}">Updated {{ paste.updated_at|format_relative_time }}</span>,
                {{ paste.body|format_byte_size }}
            </div>
            <div class="actions">
                <a hx-boost="false" href="/pastes/{{ paste.id }}/raw">
                    <svg class="icon">
                        <use href="/assets/images/vendor/feather-sprite.v4.29.0.svg#code" />
                    </svg>
                    Raw
                </a>
                <button hx-on:click="navigator.clipboard.writeText(document.getElementById('paste-body').innerHTML)">
                    <svg class="icon">
                        <use href="/assets/images/vendor/feather-sprite.v4.29.0.svg#copy" />
                    </svg>
                    Copy
                </button>
                <a hx-boost="false" href="/pastes/{{ paste.id }}/download">
                    <svg class="icon">
                        <use href="/assets/images/vendor/feather-sprite.v4.29.0.svg#download" />
                    </svg>
                    Download
                </a>
                {% if let Some(session) = session %}
                    {% if session.user.id == paste.user_id %}
                        <a href="/pastes/{{ paste.id }}/edit">
                            <svg class="icon">
                                <use href="/assets/images/vendor/feather-sprite.v4.29.0.svg#edit" />
                            </svg>
                            Edit
                        </a>
                        <button hx-confirm="Are you sure you want to delete this paste?"
                                hx-delete="/pastes/{{ paste.id }}">
                            <svg class="icon">
                                <use href="/assets/images/vendor/feather-sprite.v4.29.0.svg#trash-2" />
                            </svg>
                            Delete
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <pre><code id="paste-body">{{ paste.body }}</code></pre>
</section>
{% endblock %}
