{% extends "base.html" %}
{% block content %}
    <section class="pastes-show">
        <div class="title-bar">
            <h2>{{ paste.title }}</h2>
            <div class="buttons">
                {% if let Some(session) = session %}
                    {% if session.user.id == paste.user_id %}
                        <button class="destructive" hx-delete="/pastes/{{ paste.id }}">Delete</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <p>Created: {{ paste.created_at }}</p>
        <p>Updated: {{ paste.updated_at }}</p>
        <h3>{{ paste.description }}</h3>
        <div class="container">
            <code>{{ paste.body }}</code>
        </div>
    </section>
{% endblock %}
