{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <h1>Sign-up for Gluestick</h1>
    <section class="signup">
        <form action="/signup" method="post">
            {% include "partials/username_input.html" %}
            {% include "partials/email_input.html" %}
            {% include "partials/password_input.html" %}
            {% let error = error_report.get_first("invite_code") %}
            <div {% if let Some(error) = error %}class="invalid"{% endif %}>
                <label for="invite_code">Invite Code</label>
                <input type="text"
                       name="invite_code"
                       placeholder="Your invite code..."
                       value="{{ invite_code }}" />
                <div class="error-msg">
                    {% if let Some(error) = error %}{{ error }}{% endif %}
                </div>
            </div>
            <button class="primary" type="submit">Sign Up</button>
        </form>
    </section>
{% endblock %}
