{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block main %}
    <main class="settings">
        <h1>Settings</h1>
        <section class="api-keys">
            <h2>API Keys</h2>
            <button class="primary"
                    hx-post="/api_sessions"
                    hx-target="next .new-keys"
                    hx-swap="afterbegin">Generate an API Key</button>
            <ul class="new-keys">
            </ul>
            <ul class="keys">
                {% for api_key in api_keys %}
                    <li class="key">
                        <div>
                            <div class="name">{{ api_key.name }}</div>
                            <div class="created-at" title="{{ api_key.created_at|format_timestamp }}">
                                Created {{ api_key.created_at|format_timestamp_relative }}
                            </div>
                        </div>
                        <div class="delete-controls">
                            {% if api_key.last_used_at == api_key.created_at %}
                                <div class="last-used-at">Never used</div>
                            {% else %}
                                <div class="last-used-at"
                                     title="{{ api_key.last_used_at|format_timestamp }}">
                                    Last used {{ api_key.last_used_at|format_timestamp_relative }}
                                </div>
                            {% endif %}
                            <button class="delete-button"
                                    hx-confirm="Are you sure you want to delete this API Key?"
                                    hx-delete="/api_sessions/{{ api_key.id }}"
                                    hx-target="closest .key"
                                    hx-swap="outerHTML">Delete</button>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}
